@keyframes slidein {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate {
  @apply animate-[slidein_2s_ease-in-out_infinite];
}

/*
      keyframes: {
        slide: {
          '0%': {
            transform: 'translateX(-100%)',
          },
          '100%': {
            transform: 'translateX(100%)',
          },
        },
      },
      animation: {
        slide: 'slide 1s ease-in-out infinite',
      },
*/
