<div class="grid">
  <div
    class="relative max-w-[450px] divide-y rounded-md border border-gray-200"
  >
    <div class="sepperate rounded-md bg-slate-50 p-6">
      <h2 class="mb-2 text-2xl font-thin">Pro Annual</h2>
      <p class="text-sm font-light">
        For individuals looking to strengthen PR efforts by finding contacts,
        sending pitches, and monitoring the media.
      </p>
    </div>

    <div class="user-profile">
      <div class="text-center">
        <h3 class="text-5xl font-bold">€239</h3>
        <span class="text-sm font-light">per month, billed annually</span>
      </div>

      <button
        class="rounded-lg bg-indigo-100 px-3 py-3 font-light text-indigo-600 transition-[all] hover:bg-indigo-200 hover:shadow-md"
      >
        Buy now
      </button>

      <div>
        <h4 class="mb-3 text-sm font-bold">What's included in Pro Annual</h4>
        <ul class="ml-4 list-disc space-y-3 text-sm font-light">
          <li
            class="cursor-help pl-4 underline decoration-dashed marker:text-indigo-600 marker:content-['✓']"
          >
            2,000 Media database contacts
          </li>
          <li
            class="cursor-help pl-4 underline decoration-dashed marker:text-indigo-600 marker:content-['✓']"
          >
            Advanced email analytics. + follow-ups
          </li>
          <li class="pl-4 marker:text-indigo-600 marker:content-['✓']">
            Online monitoring + social media listening
          </li>
          <li class="pl-4 marker:text-indigo-600 marker:content-['✓']">
            Reporting
          </li>
          <li class="pl-4 marker:text-indigo-600 marker:content-['✓']">
            Unlimited support and training
          </li>
          <li class="pl-4 marker:text-indigo-600 marker:content-['✓']">
            10 users
          </li>
          <li
            class="cursor-help pl-4 underline decoration-dashed marker:text-indigo-600 marker:content-['✓']"
          >
            Al Assistant - press release reviews
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div
    class="relative max-w-[450px] divide-y rounded-md border border-gray-200 after:absolute after:left-1/2 after:top-2 after:-translate-x-1/2 after:rounded-full after:bg-orange-300 after:px-3 after:text-sm after:font-semibold after:text-white after:content-['BEST_VALUE']"
  >
    <div class="sepperate rounded-md bg-slate-50 p-6">
      <h2 class="mb-2 text-2xl font-thin">Pro Annual</h2>
      <p class="text-sm font-light">
        For individuals looking to strengthen PR efforts by finding contacts,
        sending pitches, and monitoring the media.
      </p>
    </div>

    <div class="flex flex-col gap-6 p-6">
      <div class="text-center">
        <h3 class="text-5xl font-bold">€239</h3>
        <span class="text-sm font-light">per month, billed annually</span>
      </div>

      <button
        class="rounded-lg bg-indigo-600 px-3 py-3 font-light text-indigo-100 transition-[all] hover:bg-indigo-700 hover:shadow-md"
      >
        Buy now
      </button>

      <div>
        <h4 class="mb-3 text-sm font-bold">What's included in Pro Annual</h4>
        <ul class="ml-4 list-disc space-y-3 text-sm font-light">
          <li
            class="cursor-help pl-4 underline decoration-dashed marker:text-indigo-600 marker:content-['✓']"
          >
            2,000 Media database contacts
          </li>
          <li
            class="cursor-help pl-4 underline decoration-dashed marker:text-indigo-600 marker:content-['✓']"
          >
            Advanced email analytics. + follow-ups
          </li>
          <li class="pl-4 marker:text-indigo-600 marker:content-['✓']">
            Online monitoring + social media listening
          </li>
          <li class="pl-4 marker:text-indigo-600 marker:content-['✓']">
            Reporting
          </li>
          <li class="pl-4 marker:text-indigo-600 marker:content-['✓']">
            Unlimited support and training
          </li>
          <li class="pl-4 marker:text-indigo-600 marker:content-['✓']">
            10 users
          </li>
          <li
            class="cursor-help pl-4 underline decoration-dashed marker:text-indigo-600 marker:content-['✓']"
          >
            Al Assistant - press release reviews
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
