<div class="flex w-full items-center justify-center gap-10 pt-48">
  <button
    class="flex items-center justify-center gap-2 rounded-lg bg-indigo-600 px-6 py-3 font-light text-indigo-200 hover:bg-indigo-800 hover:shadow-md"
  >
    I love
  </button>

  <button
    class="flex items-center justify-center gap-2 rounded-lg bg-indigo-100 px-6 py-3 font-light text-indigo-600 hover:bg-indigo-200 hover:shadow-md"
  >
    Tailwind
  </button>

  <button
    class="flex items-center justify-center gap-2 rounded-lg bg-indigo-100 px-6 py-3 font-light text-indigo-600 hover:bg-indigo-200 hover:shadow-md"
  >
    So much

    <div class="grid h-full place-items-center text-lg">
      <ng-icon name="bootstrapGithub"> </ng-icon>
    </div>
  </button>
</div>
