<div class="flex w-full justify-center pt-48">
  <form class="flex flex-col items-end rounded-xl bg-blue-50 p-7">
    <label class="mb-8 flex flex-col">
      <span class="text-sm font-medium text-slate-700" for="email">
        Email
      </span>

      <input
        id="email"
        autocomplete="off"
        class="rounded-md bg-blue-300 px-4 py-2"
        type="email"
      />
      <span class="text-xs"> Email invalid </span>
    </label>

    <button class="max-w-20 rounded-md bg-blue-700 p-2 text-sm text-white">
      Submit
    </button>
  </form>
</div>
